<ul class="list-group gn-resultview gn-resultview-sumup clearfix">
  <li class="list-group-item gn-grid gn-list gn-list-nothumbnail"
      data-ng-repeat="md in searchResults.records"
      data-gn-fix-mdlinks=""
      data-gn-displayextent-onhover=""
      data-gn-zoomto-onclick="">

    <!--start top row-->
    <div class="pull-right">

      <!--Source catalog Logo-->
      <a data-ng-if="md.groupWebsite"
         href="{{md.groupWebsite}}" target="_blank">
        <img data-ng-src="{{gnUrl}}..{{md.logo}}"
             class="gn-source-logo"/>
      </a>
      <img data-ng-if="!md.groupWebsite"
           data-ng-src="{{gnUrl}}..{{md.logo}}"
           class="gn-source-logo"/>

      
    </div>
    <!--end top row-->
    <div class="row gn-md-title"
         data-ng-click="openRecord($index, md, searchResults.records)">
      <h3>
        <a data-ng-href="#/metadata/{{md.getUuid()}}"
           title="{{md.title || md.defaultTitle}}">
          {{(md.title || md.defaultTitle) | characters:80}}</a>
      </h3>
    </div>

    <!--start middle row-->
    <div title="{{(md.abstract || md.defaultAbstract) | striptags}}"
         data-ng-click="openRecord($index, md, searchResults.records)"
         class="clearfix">
      <div class="gn-md-abstract">
        <div>
          <p>{{(md.abstract || md.defaultAbstract) | striptags}}</p>
        </div>
      </div>
    </div>
    <!--end middle row-->

    <!--start bottom row-->
    <div class="gn-md-footer clearfix">
      <div data-gn-metadata-rate="md"
           data-readonly="true"
           class="gn-md-rating"/>
      <div gn-grid-related gn-grid-related-uuid="::md.getUuid()"
           template="../../catalog/views/niedersachsen/templates/gridRelated.html"></div>
      <gn-links-btn></gn-links-btn>
    </div>

    </div>

  </li>
</ul>
